.preloader-wrapper{
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #preloader {
    height: 30px;
    width: 30px;
    margin: 40vh auto;
    border: 5px solid rgba(255,255,255,0.5);
    border-top: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }