<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td></td>
            <td>{{ product.name }}</td>
            <td>{{ product.qty }}</td>
            <td>{{ product.price | number:'1.2' }}</td>
            <td>{{ (product.price * product.qty) | number:'1.2' }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">Total:</th>
            <th>{{ cartService.total() | number:'1.2' }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-sm-6">
      <button [routerLink]="['/checkout']" class="btn btn-lg btn-primary btn-block">Checkout</button>
    </div>
    <div class="col-sm-6">
      <button [routerLink]="['/home']" class="btn btn-lg btn-secondary btn-block">Countinue Shopping</button>
    </div>
  </div>
</div>