<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let country of countries" (click)="onCountryClick(country)" style="cursor: pointer;">
          <a href="#">{{ country }}</a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <div #gmap style="width:100%; height:400px" id="map"></div>
      <button class="btn btn-default" (click)="setCurrentLocation()">Current Location</button>
    </div>
  </div>
</div>