<div class="card">
  <img class="card-img-top" (click)="show(product._id)" src="https://via.placeholder.com/100px100" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" (click)="show(product._id)">{{ product.name }}</h5>
    <p class="card-text" (click)="show(product._id)">{{ product.description }}.</p>
    <a (click)="addToCard()" class="btn btn-primary">Add to Cart</a>
  </div>
</div>