<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="login(loginForm.value)" novalidate #loginForm="ngForm" id="login">
        <h5 class="modal-title">Login</h5>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" (ngModel)="email" name="email" placeholder="Enter email"
            required>
          <div class="invalid-feedback">Email field is required.</div>
        </div>
    
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" (ngModel)="password" name="password" placeholder="Enter Password"
            required>
          <div class="invalid-feedback">Password is required.</div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || proccesing">
          <i class="fa fa-spin fa-spinner" *ngIf="proccesing"></i>
          <span *ngIf="!proccesing">Login</span>
        </button>
      </form>
    </div>

    <div class="col-md-6">
      <form (ngSubmit)="signup(signupForm.value)" novalidate #signupForm="ngForm" id="signupForm">
        <h5 class="modal-title">Sign up</h5>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" (ngModel)="name" name="name" placeholder="Enter name" required>
          <div class="invalid-feedback">Name field is required.</div>
        </div>
        
        <div class="form-group">
          <label for="signupFormemail">Email address</label>
          <input type="email" class="form-control" id="signupFormemail" (ngModel)="email" name="email" placeholder="Enter email" required>
          <div class="invalid-feedback">Email field is required.</div>
        </div>

        <div class="form-group">
          <label for="signupFormpassword">Password</label>
          <input type="password" class="form-control" id="signupFormpassword" (ngModel)="password" name="password" placeholder="Enter Password" required>
          <div class="invalid-feedback">Password is required.</div>
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid || proccesing">
          <i class="fa fa-spin fa-spinner" *ngIf="proccesing"></i>
          <span *ngIf="!proccesing">Sign up</span>
        </button>
      </form>
    </div>
  </div>
</div>