<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="http://placehold.it/300x300" class="img-fluid thumbnail rounded" alt="{{ product?.name }}">
    </div>
    <div class="col-md-8">
      <h1>{{ product?.name }}</h1>
      <p>{{ product?.description }}</p>
      <h3>{{ product?.price }}</h3>
      <button (click)="addToCart()" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</div>