<div class="container" *ngIf="products">
  <div class="row">
    <div class="col-md-3 mb-5" *ngFor="let product of products">
        <app-product [product]="product"></app-product>
    </div>
  </div>
</div>

<div class="container" *ngIf="!products?.length">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">Sorry no product found</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button">Go to Product Page</a>
      </div>
    </div>
  </div>
</div>