<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="submitOrder()" novalidate [formGroup]="form" id="login">
        <h5 class="modal-title">Checkout</h5>
        
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Full Name"
            required>
          <div class="invalid-feedback">Email field is required.</div>
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" placeholder="Enter email"
            required>
          <div class="invalid-feedback">Email field is required.</div>
        </div>
    
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" formControlName="address" [ngClass]="{'is-invalid': f.address.errors && f.address.touched}" placeholder="Enter Address" required>
          <div class="invalid-feedback">Address is required.</div>
        </div>
    
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" formControlName="country" [ngClass]="{'is-invalid': f.country.errors && f.country.touched}" placeholder="Enter Country" required>
          <div class="invalid-feedback">Country is required.</div>
        </div>
    
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" formControlName="city" [ngClass]="{'is-invalid': f.city.errors && f.city.touched}" placeholder="Enter City" required>
          <div class="invalid-feedback">City is required.</div>
        </div>
    
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" formControlName="state" [ngClass]="{'is-invalid': f.state.errors && f.state.touched}" placeholder="Enter State" required>
          <div class="invalid-feedback">State is required.</div>
        </div>
    
        <div class="form-group">
          <label for="zipcode">Postal Code</label>
          <input type="text" class="form-control" id="zipcode" formControlName="zipcode" [ngClass]="{'is-invalid': f.zipcode.errors && f.zipcode.touched}" placeholder="Enter Postal Code" required>
          <div class="invalid-feedback">Postal Code is required.</div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid || proccesing">
          <i class="fa fa-spin fa-spinner" *ngIf="proccesing"></i>
          <span *ngIf="!proccesing">Place order</span>
        </button>
      </form>
    </div>
  </div>
</div>