<div class="alert alert-{{this.message.level}} mb-0" style="border-radius: 0;" *ngIf="this.message.messages.length>0">
  <div class="container">
    <div class="row">
      <div class="col">
          <p class="mb-0" *ngFor="let message of this.message.messages">{{ message | uppercase }}</p>
        </div>
      </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Mean Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/stores']">Stores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cart']">Cart <span class="bedge">{{ cartService.count() }}</span></a>
            </li>
          </ul>
          <form class="form-inline mr-auto ml-auto" (submit)="search(form.value.query)" #form="ngForm">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="query" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
              </li>
              <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()" [ngClass]="{'show': profileDropdown}">
                <a class="nav-link dropdown-toggle" style="cursor: pointer" (click)="profileDropdown=!profileDropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{ authService.currentUser.name }}
                </a>
                <div class="dropdown-menu" [ngClass]="{'show': profileDropdown}" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" style="cursor: pointer" (click)="this.authService.logout()">Logout</a>
                </div>
              </li>
            </ul>  
          </div>
        </div>
  </div>
</nav>